<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CodeViewer" value="C:\Users\Tim\AppData\Local\Programs\Microsoft VS Code\Code.exe" />
    <add key="BasePath" value="C:\temp\jira" />
    <add key="SourceDir" value="C:\temp\jira\_SAOP2019$DataCallProcessor\_dest" />
    <add key="DestDir" value="C:\temp\jira\_SAOP2020$DataCallProcessor\_dest" />
  </appSettings>
</configuration>